<%= erb :_nav %>
<h2> New Post </h2>
</br>
<form action="/posts/new" method="post" id="new_post">
  Title:</br><input type="text" name="title"></br></br>
  Tags:</br><input type="text" name="tags"> comma separated</br></br>
  Content:</br><input type="textarea" name="body"></br></br>
  <input type="submit" value="Create New Post">
</form>

